    /*
    Flaticon icon font: Flaticon
    Creation date: 04/10/2020 18:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-spa:before { content: "\f100"; }
.flaticon-tooth:before { content: "\f101"; }
.flaticon-dental-implant:before { content: "\f102"; }
.flaticon-dental-care:before { content: "\f103"; }
.flaticon-dental:before { content: "\f104"; }
.flaticon-dentist:before { content: "\f105"; }
.flaticon-gum:before { content: "\f106"; }
.flaticon-tooth-cleaning:before { content: "\f107"; }
.flaticon-dentist-1:before { content: "\f108"; }
.flaticon-tooth-1:before { content: "\f109"; }
.flaticon-dental-1:before { content: "\f10a"; }
.flaticon-tooth-2:before { content: "\f10b"; }
.flaticon-bacteria:before { content: "\f10c"; }
.flaticon-tooth-3:before { content: "\f10d"; }
.flaticon-white-teeth:before { content: "\f10e"; }
.flaticon-tooth-4:before { content: "\f10f"; }
.flaticon-teeth:before { content: "\f110"; }
.flaticon-broken-tooth:before { content: "\f111"; }
.flaticon-anesthesia:before { content: "\f112"; }
.flaticon-vaccination:before { content: "\f113"; }
.flaticon-respiratory:before { content: "\f114"; }
.flaticon-diagnostic:before { content: "\f115"; }
.flaticon-brain:before { content: "\f116"; }
.flaticon-blood-bag:before { content: "\f117"; }
.flaticon-medical-lab:before { content: "\f118"; }
.flaticon-medical-records:before { content: "\f119"; }
.flaticon-medical:before { content: "\f11a"; }
.flaticon-license:before { content: "\f11b"; }
.flaticon-doctor:before { content: "\f11c"; }
.flaticon-dna:before { content: "\f11d"; }
.flaticon-stethoscope:before { content: "\f11e"; }
.flaticon-test-tube:before { content: "\f11f"; }
.flaticon-pill:before { content: "\f120"; }
.flaticon-ambulance:before { content: "\f121"; }
.flaticon-heart:before { content: "\f122"; }
.flaticon-heart-1:before { content: "\f123"; }
.flaticon-first-aid-kit:before { content: "\f124"; }
.flaticon-anatomy:before { content: "\f125"; }
.flaticon-water-drop:before { content: "\f126"; }
.flaticon-loading:before { content: "\f127"; }
.flaticon-air-conditioner:before { content: "\f128"; }
.flaticon-thunderbolt:before { content: "\f129"; }
.flaticon-energy:before { content: "\f12a"; }
.flaticon-save-energy:before { content: "\f12b"; }
.flaticon-plastic-surgery:before { content: "\f12c"; }
.flaticon-gluteus-implant:before { content: "\f12d"; }
.flaticon-liposuction:before { content: "\f12e"; }
.flaticon-diet:before { content: "\f12f"; }
    
    $font-Flaticon-spa: "\f100";
    $font-Flaticon-tooth: "\f101";
    $font-Flaticon-dental-implant: "\f102";
    $font-Flaticon-dental-care: "\f103";
    $font-Flaticon-dental: "\f104";
    $font-Flaticon-dentist: "\f105";
    $font-Flaticon-gum: "\f106";
    $font-Flaticon-tooth-cleaning: "\f107";
    $font-Flaticon-dentist-1: "\f108";
    $font-Flaticon-tooth-1: "\f109";
    $font-Flaticon-dental-1: "\f10a";
    $font-Flaticon-tooth-2: "\f10b";
    $font-Flaticon-bacteria: "\f10c";
    $font-Flaticon-tooth-3: "\f10d";
    $font-Flaticon-white-teeth: "\f10e";
    $font-Flaticon-tooth-4: "\f10f";
    $font-Flaticon-teeth: "\f110";
    $font-Flaticon-broken-tooth: "\f111";
    $font-Flaticon-anesthesia: "\f112";
    $font-Flaticon-vaccination: "\f113";
    $font-Flaticon-respiratory: "\f114";
    $font-Flaticon-diagnostic: "\f115";
    $font-Flaticon-brain: "\f116";
    $font-Flaticon-blood-bag: "\f117";
    $font-Flaticon-medical-lab: "\f118";
    $font-Flaticon-medical-records: "\f119";
    $font-Flaticon-medical: "\f11a";
    $font-Flaticon-license: "\f11b";
    $font-Flaticon-doctor: "\f11c";
    $font-Flaticon-dna: "\f11d";
    $font-Flaticon-stethoscope: "\f11e";
    $font-Flaticon-test-tube: "\f11f";
    $font-Flaticon-pill: "\f120";
    $font-Flaticon-ambulance: "\f121";
    $font-Flaticon-heart: "\f122";
    $font-Flaticon-heart-1: "\f123";
    $font-Flaticon-first-aid-kit: "\f124";
    $font-Flaticon-anatomy: "\f125";
    $font-Flaticon-water-drop: "\f126";
    $font-Flaticon-loading: "\f127";
    $font-Flaticon-air-conditioner: "\f128";
    $font-Flaticon-thunderbolt: "\f129";
    $font-Flaticon-energy: "\f12a";
    $font-Flaticon-save-energy: "\f12b";
    $font-Flaticon-plastic-surgery: "\f12c";
    $font-Flaticon-gluteus-implant: "\f12d";
    $font-Flaticon-liposuction: "\f12e";
    $font-Flaticon-diet: "\f12f";